body {
    margin-top: 20px;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.toggleApp, .contacts {
    text-align: center;
    display: block;
}

.contacts {
    height: 250px;
}

ul {
    list-style: none;
}

.contactInfo, .contactsList {
    width: 400px;
    float: left;
}

.female {
    color: chocolate;
}

.male {
    color: darkblue;
}

.active {
    background-color: #61dafb;
}